
body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.output-window {
    color: white;
    margin: 0px;
    padding: 10px;
    height: 30vh;
    border: 2px solid #919191;
    
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0,0,0,.8));

    display: flex;
    flex-flow: column;
    align-items: flex-end;
    overflow-y: auto;
    max-height: 30vh;

    /* Hide the scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;

    line-height: 120%;
    font-size: 5vh;
}

/* Hide the scrollbar in output-window */
.output-window::-webkit-scrollbar {
    display: none;
}

.output-window > p {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 120%;
    font-size: 5vh;
}

.output-text {
    line-height: 100%;
    margin-top: 0.3vh;
    margin-bottom: 0.3vh;
    font-size: 5vh;
    font-family:'Times New Roman', Times, serif;
}

.output-button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: white;
    border-radius: 2vh;
}

.output-button:hover {
    background-color: rgb(78, 78, 78);
}

.output-button:active {
    background-color: rgb(70, 70, 70);
}

.input-window {
    color: white;
    background: rgb(0, 134, 187);
    border-top: transparent;
    padding: 0px;
    height: 20vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input-field {
    font-size: 6vmin;
    width: 15vw;
    margin-right: 20px;
}

.input-field-container {
    display: flex;
    flex-flow: row;
    max-width: 80vw;
    margin-right: 20px;
    overflow-x: auto;
}

.grey-input-field {
    font-size: 6vmin;
    width: 10vw;
    background-color: rgb(197, 197, 197);
    border: 1px solid rgb(73, 73, 73);
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0px;

    flex-grow: 1;

    color: white;
    background: #232329;
    border: 1px solid #919191;
    overflow: hidden; 
}

button {
    outline: none;
    background: #fff;
    border: 1px solid #919191;
    font-size: 8vmin;
    color: #333;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);

}

button:hover {
    background: rgb(216, 216, 216);
}

button:active {
    background: rgb(184, 184, 184);
}


.menu {
    position: absolute;
    margin: 5px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: rgb(223, 223, 223);
    font-size: .8rem;
    /*text-decoration: underline;*/
}

.menu:hover {
    background-color: rgba(255, 255, 255, 0.199);
    border-radius: 5px;
}

.menu:active {
    background-color: transparent;
    color: rgb(184, 184, 184);
    top: 1px;
}

.deg-rad-grad {
    position: absolute;
    top: calc(30vh - 5px);
    margin: 5px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: rgb(223, 223, 223);
    font-size: .8rem;
    /*text-decoration: underline;*/
}

.deg-rad-grad:hover {
    background-color: rgba(255, 255, 255, 0.199);
    border-radius: 5px;
}

.deg-rad-grad:active {
    background-color: transparent;
    color: rgb(184, 184, 184);
    top: calc(30vh - 4px);
}

.equal-sign {
    grid-row-start: 2;
    grid-row-end: 4;
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 3;
}

button .tooltip {
    pointer-events: none;
    visibility: hidden;
    width: 120px;
    background-color: rgb(87, 87, 87);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 1rem;

    position: absolute;
    z-index: 1;
    top: 15px;
    left: 15px;

    opacity: 0;
    transition: 250ms;
}

button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


/* Popup styles */

.popup-background {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, .3);
    
}

.popup-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    width: 75vmin; 
    height: 50vmin;
    margin-left: calc(-75vmin/2); 
    margin-top: calc(-50vmin/2); 
    background-color: white;
    border-radius: 8px;
}

.popup-header {
    font-family: Arial, Helvetica, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 10vmin; 
    margin: 5px; 
    color: rgb(214, 47, 47);
}

.popup-close {
    color: white; 
    background: red; 
    border: none; 
    border-radius: 8px; 
    margin-bottom: 20px;
    box-shadow: 0.2vmin 0.2vmin 3px #464646;
    margin-top: auto;
}

.popup-close:hover {
    background-color: rgb(255, 64, 64);
}

.popup-close:active {
    background-color: rgb(197, 0, 0);
    margin-bottom: calc(20px - 1px);
    margin-top: calc(auto - 1px);
}